.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.menu-list {
  display: flex;
}
.menu-list li {
  padding: 10px;
}
.menu-area {
  display: flex;
  justify-content: center;
}

.nav-section {
 display: flex;
 justify-content: center;
 padding: 30px;
}